:root {
    --header-background: linear-gradient(to left, #28D0A3 0%, #03B1E2 20%, #147196 100%);
    --sidebar-background: rgb(53, 142, 172);
    --sidebar-background2: rgb(14, 88, 112);
    --main-background: rgb(74, 192, 231);
    --popup-background: rgb(40, 149, 252);
    --button-background: rgb(0, 132, 255);
    --button-background2: rgb(102, 181, 255);
    --button-border: rgb(18, 118, 146);
    --dropdown-background: rgb(79, 175, 207);
    --dropdown-background2: rgb(14, 88, 112);
    --footer-background: rgb(117, 203, 243);
}

html, body {
    margin: 0; 
    padding: 0;
    background-color: var(--main-background);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; 
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header-background);
}

.header-link {
    display: inline;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.header-right {
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

#large-image {
    height: 73px;
    width: 500px;
}

#small-image {
    display: none;
    height: 73px;
    width: 65px;
}

.middle {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: calc(100vh - 162px);
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.middle::-webkit-scrollbar {
    display: none;
}

.sidebar {
    background-color: var(--sidebar-background);
    color: white;
    width: 20%;
}

.sidebar-title {
    background-color: var(--sidebar-background2);
    padding: 15px;
    text-align: center;
    font-size: 21pt;
    font-weight: bold;
}

.sidebar-link {
    display: block;
    padding: 10px 15px;
    font-size: 23px;
    text-decoration: none;
}

.sidebar-link:hover {
    background-color: var(--sidebar-background2);
}

.dropdown {
    display: block;
    position: relative;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    text-align: center;
    width: 80%;
    background-color: var(--dropdown-background);
    box-shadow: 5px 10px 18px rgba(0,0,0,0.5);
    z-index: 1;
}
  
.dropdown-content a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    color: white;
    font-size: 25px;
    padding: 15px;
    text-decoration: none;
}
  
.dropdown-content a:hover {
    background-color: var(--dropdown-background2);
    font-weight: bold;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.main-content {
    display: grid;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 50px;
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, minmax(175px, auto));
    gap: 30px;
}

.main-content::-webkit-scrollbar {
    display: none;
}

.grid-item-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-background);
    border: var(--button-border) solid 10px;
    border-radius: 25px;
    color: white;
    font-size: 37px;
    font-weight: bold;
}

.grid-item-main:hover {
    cursor: pointer;
    background-color: var(--button-background2);
}

#help-popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(0%, -50%);
    width: 60%;
    height: auto;
    background-color: var(--popup-background);
    padding: 10px;
    border: black solid 3px;
}

.help-text {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    gap: 20px
}

.help-close {
    float: right;
    width: 32px;
    height: 32px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    color: white;
    background-color: var(--footer-background);
}

.footer-link {
    padding: 5px 10px 5px 10px;
    text-align: center;
}

.footer-link a {
    text-decoration: none;
}

.footer-link-text {
    color: black;
}

.footer-link-image {
    width: 30px;
    height: 30px;
}

#category-select-menu {
    display: none;
    position: fixed;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 25%;
    top: 40%;
    border: solid black 3px;
    border-radius: 25px;
    padding: 20px;
    background-color: var(--popup-background);
}

.popup-option {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 37px;
    padding: 10px;
    color: white;
    margin-right: 32px;
}

.popup-option:hover {
    cursor: pointer;
    font-weight: bold;
}

.popup-content img {
    float: right;
    width: 32px;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    #large-image {
        display: none !important;
    }
    #small-image {
        display: block !important;
    }
    .sidebar {
        display: none !important;
    }
    .main-content {
        width: 100%;
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-rows: repeat(14, minmax(175px, auto)) !important;
        padding: 35px !important;
    }
    .grid-item-main {
        font-size: 27px !important;
    }
    #category-select-menu {
        left: 10% !important;
        width: 80% !important;
    }
    #category-select-menu {
        left: 50% !important;
        transform: translate(-50%, -0%) !important;
        width: 60% !important;
        top: 40% !important;
    }
}

@media screen and (max-height: 1100px) {
    .sidebar-link {
        padding: 5px !important;
    }
}