:root {
    --header-background: linear-gradient(to left, #28D0A3 0%, #03B1E2 20%, #147196 100%);
    --sidebar-background: rgb(53, 142, 172);
    --sidebar-background2: rgb(14, 88, 112);
    --main-background: rgb(74, 192, 231);
    --popup-background: rgb(40, 149, 252);
    --button-background: rgb(0, 132, 255);
    --button-background2: rgb(102, 181, 255);
    --button-border: rgb(18, 118, 146);
    --dropdown-background: rgb(79, 175, 207);
    --dropdown-background2: rgb(14, 88, 112);
    --footer-background: rgb(117, 203, 243);
}

html, body {
    margin: 0; 
    padding: 0;
    background-color: var(--main-background);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; 
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header-background);
}

.header-link {
    display: inline;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.header-right {
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

#large-image {
    height: 73px;
    width: 500px;
}

#small-image {
    display: none;
    height: 73px;
    width: 65px;
}

.middle {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: calc(100vh - 162px);
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.middle::-webkit-scrollbar {
    display: none;
}

.sidebar {
    background-color: var(--sidebar-background);
    color: white;
    width: 20%;
}

.sidebar-title {
    background-color: var(--sidebar-background2);
    padding: 15px;
    text-align: center;
    font-size: 21pt;
    font-weight: bold;
}

.sidebar-link {
    display: block;
    padding: 10px 15px;
    font-size: 23px;
    text-decoration: none;
}

.sidebar-link:hover {
    background-color: var(--sidebar-background2);
}

.dropdown {
    display: block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    text-align: center;
    width: 50%;
    background-color: var(--dropdown-background);
    box-shadow: 5px 10px 18px rgba(0,0,0,0.5);
    z-index: 1;
}

.dropdown-content a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    color: white;
    font-size: 25px;
    padding: 15px;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: var(--dropdown-background2);
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.quiz-content {
    width: 80%;
    padding: 50px;
}

.category {
    font-weight: bold;
    font-size: 3em;
    color: white;
    text-align: center;
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
}

.answer {
    padding: 50px;
}

.quiz-scores {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 0px 30px 0px;
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.score {
    grid-column: 1 / 2;
    text-align: left;
}

.highscore {
    grid-column: 2 / 3;
    text-align: right;
}

#question {
    margin: 30px 0px 30px 0px;
    color: white;
    font-size: 1.5em;
}

.answer {
    background-color: var(--button-background);
    border-color: var(--button-border);
    border-style: solid;
    border-radius: 25px;
    border-width: 10px;
    color: white;
    font-size: 20px;
}

.answer:hover {
    background-color: var(--button-background2);
}

#help-popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    background-color: white;
    padding: 10px;
    font-size: 20px;
    border: black solid 3px;
}

.help-text {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.help-close {
    float: right;
    width: 32px;
    height: 32px;
}

.footer {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: end;
    align-items: center;
    color: white;
    background-color: var(--footer-background);
    bottom: 0;
}

.footer-link {
    padding: 5px 10px 5px 10px;
    text-align: center;
}

.footer-link a {
    text-decoration: none;
}

.footer-link-text {
    color: black;
}

.footer-link-image {
    width: 30px;
    height: 30px;
}




@media only screen and (max-width: 800px) {
    #large-image {
        display: none !important;
    }
    #small-image {
        display: block !important;
    }
    .sidebar {
        display: none !important;
    }
    .quiz-content {
        width: 100%;
        padding: 15px !important;
    }
    .category {
        font-size: 20px;
    }
    .quiz-scores {
        margin: 5px;
        font-weight: 500;
    }
    #question {
        margin: 10px;
    }
    .options {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
    }
}
