:root {
}

body {
    margin: 0; 
    padding: 0; 
    font-family: Verdana, Tahoma, sans-serif; 
}

.main {
    display: flex;
}

.header-content {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background: rgb(0,1,255);
    background: linear-gradient(90deg, rgba(0,1,255,1) 0%, rgba(35,60,199,1) 31%, rgba(0,255,239,1) 87%);
}

.header-left {
}

.header-center {
    align-items: center;
    text-align: center;
    color: white; 
    font-size: 75pt;
}

.header-right {
    padding: 5px;
}

.header-right a {
    text-align: center;
    text-decoration: none;
    color: black;
}

.header-right:hover {
    background-color: red;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 25%;
    background-color: rgb(0, 217, 255);
}

.sidebar-header {
    padding-left: 10px;
}

.sidebar-title {
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.sidebar-link {
    text-decoration: none;
}

.footer-content {
    border: 3px;
    border-color: black;
    border-style: solid none none none;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(117, 203, 243);
}

.footer-images {
    display: flex;
    float: right;
}

.footer-link-image {
    padding: 5px 10px 5px 10px;
    float: right;
}

.footer-link {
    text-align: center;
    text-decoration: none;
    color: black;
}
